@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.image-link-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  @include spacing(padding-left, $sm: true);
  @include spacing(padding-right, $sm: true);
  @include spacing(padding-bottom, $lg: true);
  @media (max-width: $breakpoint-mobile) {
    @include spacing(padding-bottom, $lg: true);
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
