@import "../../../styles/mixins.scss";

nav {
  @include spacing(padding-left, $sm: true);
  @include spacing(padding-right, $sm: true);
  @include spacing(padding-top, $sm: true);
  @include spacing(padding-bottom, $sm: true);
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    @include spacing(padding-top, $lg: true);
    @include spacing(padding-bottom, $lg: true);
  }
}
