@import "../../../styles/mixins.scss";

nav {
  @include spacing(padding-top, $sm: true);
  @include spacing(padding-left, $sm: true);
  @include spacing(padding-right, $sm: true);
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: $breakpoint-mobile) {
    justify-content: flex-end;
  }
}

.nav__title {
  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}
