@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

@mixin circle-height($property) {
  #{$property}: 400px;
  @media (max-width: $breakpoint-mobile) {
    #{$property}: 250px;
  }
}

.header {
  position: relative;
  @include circle-height("min-height");
  min-height: 450px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  align-items: center;
  justify-content: center;
  @include spacing(margin-top, $lg: true);
  @include spacing(padding-left, $sm: true);
  @include spacing(padding-right, $sm: true);
  @include spacing(margin-bottom, $sm: true);
  text-align: center;
  @media (max-width: $breakpoint-mobile) {
    @include spacing(margin-bottom, $lg: true);
    @include spacing(margin-top, $lg: true);
  }
}

.header__circle {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include circle-height("width");
  @include circle-height("height");
  border-radius: 50%;
  border: 4px $color-orange solid;
  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}

.header__title {
  width: 600px;
}
