@import "../../../styles/variables.scss";

.button {
  font-family: "Orbitron", sans-serif;
  display: inline-block;
  background-color: $color-orange;
  color: $color-black;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 16px;
  text-decoration: none;
}
