@import "../../../styles/mixins.scss";

.image-details {
  @include spacing(padding-left, $sm: true);
  @include spacing(padding-right, $sm: true);
  @include spacing(padding-bottom, $lg: true);
  @include spacing(padding-top, $sm: true);
  @media (max-width: $breakpoint-mobile) {
    padding-top: 40px;
  }
}

.image-details__title {
  text-align: center;
  width: 800px;
  margin: 0 auto;
  @include spacing(padding-bottom, $sm: true);
  @media (max-width: $breakpoint-mobile) {
    width: 100%;
  }
}

.image-details__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  @media (max-width: $breakpoint-mobile) {
    grid-template-columns: 1fr;
    gap: 25px;
  }
}

.image-details__title {
  margin-bottom: 15px;
}

.image-details__desc {
  word-break: break-word;
}

.image-details__photo {
  position: relative;
  overflow: hidden;
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media (max-width: $breakpoint-mobile) {
    min-height: 350px;
  }
}

.image-details__photo__inner {
  position: absolute;
  inset: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
