@import "../../../styles/variables.scss";

.image-link {
  display: grid;
  gap: 15px;
}

.image-link__photo {
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
  height: 300px;
  cursor: pointer;
  @media (max-width: $breakpoint-mobile) {
    height: 275px;
  }
}

.image-link__photo__inner {
  position: absolute;
  z-index: 1;
  inset: 0;
  background-color: transparentize($color: $color-orange, $amount: 0.5);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-link__title {
  background-color: $color-black;
  padding: 10px 15px;
  position: relative;
  z-index: 2;
  font-weight: 400;
}
